/* div {
    border-style: solid;
    border-color: red;
    border-width: 1px;
} */

#header{
    text-align: center;
    background-color: rgb(207, 226, 207);
}

#train {
    background-color: rgb(207, 226, 207);
}

#header-text {
    padding-top: 5%;
    font-size: 50px;
    font-weight: bold;
}

#box-header {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(197, 193, 193);
}

#train-list {
    width: 50%;
}

.container {
    border-style: solid;
    border-color:darkgrey;
    border-width: 2px;
    width: 99%;
}

#box-header{
    height: 5%;
}

#schedule {
    border-right: solid, darkgrey, 5px;
   
}